.bannerHomeSection {
  position: relative;
  min-height: 80vh;
  overflow: hidden;
  z-index: 9999;
}

.bannerVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  z-index: 2;
}

.bannerContent {
  position: relative;
  z-index: 3;
  height: 100%;
}

.countdownBox {
   
    color: white;                              /* text-white */
    border-radius: 1rem;                       /* rounded-2xl */
    padding: 1.5rem;                           /* p-6 */
    min-width: 140px;                          /* min-w-[140px] */
    text-align: center;                        /* text-center */
    font-weight: 600;                          /* font-semibold */
    display: flex;
    flex-direction: column;
    gap: 1rem;    
    background: rgba(255, 255, 255, 0.1); /* semi-transparent */
  backdrop-filter: blur(10px); /* blur background behind */
 
}

.bannerTitle {
  font-size: 2.3rem;
  line-height: 1.2;
  font-weight: bold;
  color: #fff;
}

.bannerSubtitle {
  font-size: 1.2rem;
  color: #fff;
}

.bannerBtnGroup {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.qrBox {
   
  border-radius: 1.5rem;
  background: #00833D;
  text-align: center;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
  width: 140px;
  position: absolute;
  bottom: 90px;
  right: 30px;
  z-index: 4;
 
}

.qrBox img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  background: #fff;
    border-radius: 20px;
}

.textQR{
  color: #fff;
  font-size: 12px;
  margin-top: -10px;
  padding:  5px 0;
}

@media (max-width: 768px) {
  .bannerHomeSection {
    min-height: 60vh;
  }

  .bannerTitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .bannerSubtitle {
    font-size: 1rem;
  }

  .countdownBox {
    padding: 1rem;
    min-width: 100px;
    font-size: 0.95rem;
    max-width: 120px;
    margin-top: 0;
  }

  .qrBox {
                          width: 102px;
        bottom: 0%;
        right: 0;
        position: relative;
  }
  .textQR{
  color: #fff;
  font-size: 9px !important;
  margin-top: -10px;
  padding:  5px 0;
}
.bannerBtnGroup {
    flex-direction: column;
    align-items: center;
  }

  .bannerBtnGroup a {
    width: 100%;
    text-align: center;
    font-size: smaller;
  }
}