.heading {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 40px 0 24px 0;
}

.greenText {
  color: #00833D;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding: 0 10px;
}

.image {
  width: 100%;
  max-width: 1000px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.buttonGroup {
  padding: 0 10px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}


.eventContainer {
  max-width: 1200px;
  margin: 70px auto 0;
}

.eventBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.eventItem {
  flex: 1;
  min-width: 220px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  padding: 10px;
}

.eventIcon {
  font-size: 36px;
  color: #00833D;
}

.eventTextBox {
  text-align: left;
}

.eventTitle {
  font-size: 20px;
  font-weight: 500;
}

.eventSub {
  font-size: 16px;
  color: #444;
}

.registerBtnWrapper {
  margin: 20px auto 60px;
  display: flex;
  justify-content: center;
}

.registerBtn {
  background: #00833D;
  color: #fff;
  border: none;
  border-radius: 60px;
  padding: 10px 48px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  &:hover{
    background:  #016c33;
  }
}

@media (max-width: 768px) {
  .image {
    height: auto;
    max-width: 100%;
  }

  .buttonGroup {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .buttonGroup a {
    font-size: 13px;
    padding: 8px 16px;
  }

  .heading {
    font-size: 1.5rem;
    margin: 24px 0 16px 0;
  }

  .eventBox {
    flex-direction: column;
    align-items: center;
  }

  .eventItem {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .eventTextBox {
    text-align: center;
  }

  .registerBtn {
    font-size: 16px;
    padding: 8px 32px;
  }
}

